@page "/hindi"
<h3>KseGya</h3>

@* <div id="carouselExample" class="carousel slide"> *@
@*     <div class="carousel-inner"> *@
@*         <div class="carousel-item active"> *@
@*             <img src="_content/MajorProject.Shared/Images/A.png" class="d-block w-100" alt="..."> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
<img src="_content/First_step_For_little_mind.Shared/Image/English/aka.png" class="d-block w-100" alt="...">
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <img src="_content/MajorProject.Shared/Images/D.png" class="d-block w-100" alt="..."> *@
@*         </div> *@
@*     </div> *@
@*     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"> *@
@*         <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
@*         <span class="visually-hidden">Previous</span> *@
@*     </button> *@
@*     <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"> *@
@*         <span class="carousel-control-next-icon" aria-hidden="true"></span> *@
@*         <span class="visually-hidden">Next</span> *@
@*     </button> *@
@* </div> *@
@* <script src="_content/MajorProject.Shared/js/bootstrap.bundle.min.js"></script> *@
@code {

}
