@page "/hindi"
<PageTitle>क</PageTitle>

<style>
	.check{
		border:1px solid red;
	}
	.A{
		border: 1px solid green;
	}
</style>

<div class="container-fluid check d-flex justify-content-center align-items-center">
	<div class="row A text-center ">
		<div class="B">hello</div>
		<div>hi</div>
	</div>
</div>


@code {
	
}
