@page "/hindi"
<PageTitle>क</PageTitle>

<style>
	.container {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.main {
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	}

	.Letter {
		margin: 30px 30px 30px 30px;
	}
</style>
<div class="container ">
	<div class="main row">
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/1.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/Test"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/2.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/3.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/4.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/5.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/6.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/7.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/8.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/9.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/10.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/11.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/12.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/13.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div><br />
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/14.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/15.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/16.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/17.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/18.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/19.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/20.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/21.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/22.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/23.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/24.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/25.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/26.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/27.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/28.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/29.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/30.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/31.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/32.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/33.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/34.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/35.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/36.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/37.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/38.jpg" alt="Alternate Text" height="100" width="100" /></a>
			</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/39.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/40.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/41.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/42.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/43.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/44.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/45.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/46.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/47.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/48.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/49.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/Hindi/50.jpg" alt="Alternate Text" height="100" width="100" /></a>
			</div>
</div>
</div>

@code {

}

