@page "/Syllabus/{Subject}"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using Microsoft.AspNetCore.Components

<div class="container-fluid FSLM-BG">
    <div class="container mt-4 mb-4">
        <div class="row cardContainer mt-4 mb-4">
            <h1>@Subject</h1>
            <div class="container FSLM-menue">
                @{
                    var textColors = new List<string>
                {
                "#E67E22", "#2ECC71", "#5D6D7E","#FF5733" , "#AF7AC5", "#F4D03F",
                "#C0392B", "#1ABC9C", "#33A1FF", "#28B463",
                };
                    int index = 0;
                }

                @foreach (var item in GetSyllabusItems(Subject))
                {
                    var textColor = textColors[index % textColors.Count];
                    index++;

                    <div style="padding:1px; margin:1px 0;">
                        @if (!string.IsNullOrEmpty(item.Link))
                        {
                            <a href="@item.Link" style="color:@textColor; text-decoration:none;">
                                <h3>@item.Name</h3>
                            </a>
                        }
                        else
                        {
                            <h3 style="color:@textColor;">@item.Name</h3>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Subject { get; set; }

    private List<SyllabusItem> GetSyllabusItems(string? subject)
    {
        var syllabus = new Dictionary<string, List<SyllabusItem>>
        {
            {
                "English (अंग्रेज़ी)", new List<SyllabusItem>
                {
                    new SyllabusItem("Alphabets", "/subjects/AlphabetsChart"),
                    new SyllabusItem("Vowel And Consonants", "/vowel-consonant"),
                    new SyllabusItem("Three Letter Words", "/Learn/threeletterword"),
                    new SyllabusItem("Four Letter Words","/Learn/fourletterword")
                }
            },
            {
                "Hindi( हिन्दी)", new List<SyllabusItem>
                {
                    new SyllabusItem("अ से  अः ", "/subjects/अ_से_अः"),
                    new SyllabusItem("क से ज्ञ ", "/subjects/क_से_ज्ञ"),
                    new SyllabusItem("बिना मात्रा वाले शब्द", "/Syllabus/बिना मात्रा वाले शब्द"),
                    new SyllabusItem("मात्रा","/subjects/मात्रा"),
                    new SyllabusItem("मात्रा वाले शब्द ", "/Syllabus/मात्रा वाले शब्द")
                 
                }
            },
            {
                "Maths (गणित)", new List<SyllabusItem>
                {
                    new SyllabusItem("Numbers", "/Syllabus/Number"),
                    new SyllabusItem("Addition","/addition"),
                    new SyllabusItem("Subtraction","/subtraction"),
                    new SyllabusItem("Table","/table")
                }
            },
            {
                "GK (सामान्य ज्ञान)", new List<SyllabusItem>
                {
                    
                    new SyllabusItem("General Awareness","/Syllabus/General Awareness"),
                    new SyllabusItem("World Around us","/Syllabus/World Around us"),
         
                }
            },
            {
                "Rhymes (कविता)", new List<SyllabusItem>
                {
                    new SyllabusItem("English Poem", "/Syllabus/English Poem"),
                    new SyllabusItem("हिन्दी कविता ","/Syllabus/हिन्दी कविता")
                }
            },
            {
                "Story (कहानी)", new List<SyllabusItem>
                {
                    new SyllabusItem("English Stories","/Syllabus/English Stories"),
                    new SyllabusItem("हिन्दी कहानी ","/Syllabus/हिन्दी कहानी")
                }
            },
            {
                "Number", new List<SyllabusItem>
                {
                    new SyllabusItem("1 to 10", "/counting/1to10"),
                    new SyllabusItem("11 to 20", "/counting/11to20" ),
                    new SyllabusItem("21 to 30","/counting/21to30"),
                    new SyllabusItem("31 to 40","/counting/31to40"),
                }
            },
            {
                "English Poem",new List<SyllabusItem>
                {
                    new SyllabusItem("Twinkle Twinkle", "/Video/Poem/TwinkleTwinkle"),
                    new SyllabusItem("Rain Rain go away", "/Video/Poem/RainRain"),
                    new SyllabusItem("Johny Johny", "/Video/Poem/JohnyJohny")
                }
            },
            {
                "हिन्दी कविता",new List<SyllabusItem>
                {
                    new SyllabusItem("हाथी राजा ", "/Video/Poem/HanthiRaja"),
                    new SyllabusItem("मै तोता मै तोता ", "/Video/Poem/MaiToTa")
                }
            },
            {
                "बिना मात्रा वाले शब्द",new List<SyllabusItem>
                {
                    new SyllabusItem ("दो अक्षर वाले शब्द"),
                    new SyllabusItem ("तीन अक्षर वाले शब्द")
                }
            },
            {
                "मात्रा वाले शब्द", new List<SyllabusItem>
                {
                    new SyllabusItem ("दो अक्षर वाले शब्द"),
                    new SyllabusItem ("तीन अक्षर वाले शब्द")
                }
            },
            {
                "English Stories", new List<SyllabusItem>
                {
                    new SyllabusItem ("Thristy Crow", "/video/Story/ThirstyCrow"),
                    new SyllabusItem ("The Lion and the Mouse", "/video/Story/TheLionandtheMouse")
                }
            },
            {
                "हिन्दी कहानी",new List<SyllabusItem>
                {
                    new SyllabusItem ("जादुई बकरी","/video/Story/Jaaduibakari"),
                    new SyllabusItem ("जादुई ताला ","/video/Story/JaduiTaalaa")
                }
            },
            {
                "General Awareness", new List<SyllabusItem>
                {
                    new SyllabusItem("National Symbols","/nationalsymbols"),
                    new SyllabusItem("Body Parts", "/bodyPartsName"),
                    new SyllabusItem("Colour", "/color"),
                    new SyllabusItem("Shapes", "/shapes"),
                    new SyllabusItem("Flowers", "/item/FlowersName"),
                    new SyllabusItem("Fruits", "/item/FruitsName"),
                    new SyllabusItem("Vegetables", "/item/VegetablesName"),
                    
                }
            },
            
            {
                "World Around us",new  List<SyllabusItem>
                {
                    new SyllabusItem("Our Neighbours", "/item/Neighbour"),
                    new SyllabusItem("Traffic Light", "/traffic"),
                    new SyllabusItem("Transport", "/transport"),
                    new SyllabusItem("Our Family", "/ourfamily"),
                    new SyllabusItem("Animals", "/item/AnimalsName"),
                    new SyllabusItem("Birds", "/item/BirdsName"),
                }
            },

           
        };

        return syllabus.ContainsKey(subject ?? "") ? syllabus[subject ?? ""] : new List<SyllabusItem>();
    }

    public class SyllabusItem
    {
        public string Name { get; set; }
        public string? Link { get; set; }

        public SyllabusItem(string name, string? link = null)
        {
            Name = name;
            Link = link;
        }
    }
}
