.col {
    border: 2px solid green;
}

.cardContainer {
    display:flex;
    justify-content:space-around;
}

.card-hover:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.card {
    border: 1px solid green;
    height: 142px;
    width: 240.11px;
   
    background-size: cover;
    background-position: center;
}


.container {
    border:1px solid red;
}

.FSLM-first {
    width: 60vw;
    margin-left: 18rem;
    margin-top: 6rem;
}