@page "/"
@using First_step_For_little_mind.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<div class="maindiv container-fluid text-center">
    <h1>Welcome To</h1><br />
    <h1 class="fslm"> First Step For Little Mind</h1><br /><br />
    <div class="typing-container">
        <h1 class="typing-text">!!स्वागत आहे !!</h1>
    </div>
    @* <h1 class="animated_text"> !! स्वागत आहे !!</h1> *@
    @* <h2>About</h2> *@
    @* <h6 class="text-dark">This webpage, titled "First Step for Little Minds," is designed to provide foundational learning for children aged 4 to 6 years. It serves as an interactive and engaging platform to help young learners grasp basic concepts in a fun and creative way. The platform includes various activities and exercises focused on alphabets, numbers, colors, shapes, and simple words, ensuring a smooth introduction to education. Through vibrant visuals, easy-to-understand instructions, and child-friendly design, the webpage encourages self-paced learning while fostering curiosity and creativity. This initiative aims to support early education by making learning enjoyable and accessible for preschool and kindergarten children. *@
    @* </h6> *@
    <NavLink href="/Class" class="btn btn-primary">Start Learning</NavLink>
    <div row>
    </div>
    <footer class="bg-dark row text-white text-center py-3">
        <div> 
            <h7> Contact us</h7> <br />
            <h7> E-Mail : 000153kids@gmail.com</h7><br />
            <h7> Call   : +919794366574</h7>
        </div>
        <div class="container-fluid">
            <p class="mb-0">© 2025 First Step for Little Minds. All rights reserved.</p>
        </div>
    </footer>
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
