@page "/Index"
<PageTitle>Home</PageTitle>

@* <nav> *@
@* 	hello *@
@* </nav> *@

<div class="container mt-4 mb-4">
	<div class="row cardContainer mt-4 mb-4">
		<div class="card card-hover shadow s1 mb-4">
			<div class="card-body">
				<h5 class="card-title">English</h5>
				<a href="/alphabets" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s2 mb-4">
			<div class="card-body">
				<h5 class="card-title">Hindi</h5>
				<a href="/hindi" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s3 mb-4">
			<div class="card-body">
				<h5 class="card-title">Maths</h5>
				<a href="/counter" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s4 mb-4">
			<div class="card-body">
				<h5 class="card-title">Basic Learning</h5>
				<a href="chapter.html" class="stretched-link"></a>
			</div>
		</div>
	</div>
	<div class="row cardContainer mt-4 mb-4">
		<div class="card card-hover shadow s5 mb-4">
			<div class="card-body">
				<h5 class="card-title">Poem Story</h5>
				<a href="chapter.html" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s6 mb-4">
			<div class="card-body">
				<h5 class="card-title">Game Zone</h5>
				<a href="/matching" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s7 mb-4">
			<div class="card-body">
				<h5 class="card-title">-------</h5>
				<a href="chapter.html" class="stretched-link"></a>
			</div>
		</div>
		<div class="card card-hover shadow s8 mb-4">
		<div class="card-body">
			<h5 class="card-title">---------</h5>
			<a href="chapter.html" class="stretched-link"></a>
		</div>
	</div>
	</div>
</div>



