.maindiv {
    border: 1px solid red;
    background-image: url('Images/BackgroungI.png');
    background-size: cover;
    background-position: center;
    height: 83.1vh;
}

.col {
    border: 2px solid green;
}

.cardContainer {
    display:flex;
    justify-content:space-around;
}

.card-hover:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.card {
    height: 142px;
    width: 240.11px;
   
    background-size: cover;
    background-position: center;
}
.s1 {
    background-image:url(Image/English.jpeg);
}

.s2 {
    background-image: url(Image/Hindi.jpeg);
}

.s3 {
    background-image: url(Image/Maths.jpeg);
}

.s4 {
    background-image: url(Image/EVS.jpeg);
}
.s5 {
    background-image: url(Image/PoemStory.jpg);
}
.s6 {
    background-image: url(Image/GameZone.jpeg);
}
.s7 {
/*    background-image: url(Image/.jpeg);*/
}
.s8 {
/*    background-image: url(Image/PoemStory.jpeg);*/
}
.container {
    border:1px solid red;
}