@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <main>
        @* <div class="top-row px-4"> *@
        @*     <h3>First Step For Little Mind</h3> *@
        @* </div> *@

        @* <audio id="bgMusic" autoplay loop> *@
        @*     <source src="/_content/First_step_For_little_mind.Shared/voice/BackgroundMusic.mp3" type="audio/mp3"> *@
        @* </audio> *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
