.container-fluid {
   
    background-image: url('Image/BackgroundImages/img.jpg');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}
.main {
    background-image: url('Image/BackgroundImages/leaf_fall_1.gif');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}
