@page "/A"
@inject IJSRuntime JS

<PageTitle>A</PageTitle>


<div class="container-fluid">
	<div class="container main d-flex justify-content-center">
		<canvas id="myCanvas"></canvas>
		<audio id="myAudio" autoplay>
			<source src="_content/First_step_For_little_mind.Shared/voice/A.mp3" type="audio/mpeg">
		</audio>
	</div>
</div>

<script src="_content/First_step_For_little_mind.Shared/js/A.js"></script> 

@* <img src="_content/First_step_For_little_mind.Shared/Image/English/Background.jpg" alt="Alternate Text" class="image-container" id="imgElement" /> *@

