
.practiceBox {
    /*    border: 2px solid blue;*/
    margin: 130px 117px 0px 131px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.first {
    background-image: url('Image/BackgroundImages/bgm.jpg');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}

.main {
    background-image: url('Image/BackgroundImages/leaf_fall_1.gif');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}

.third {
    /*    border: 2px solid green;*/
    background-image: url('Image/BackgroundImages/bgm.jpg');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
    /*    margin-left:130px;*/
}

.check {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-top:5px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
}

.card-hover:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card {
    height: 200px;
    width: 250.11px;
    background-size: cover;
    background-position: center;
}
