.container-fluid {
   
    background-image: url('Image/English/img.jpg');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}
.main {
    background-image: url('Image/English/leaf_fall_1.gif');
    background-size: cover;
    background-position: center;
    height: 91.4vh;
}
#myCanvas {
/*    border: 1px solid red;*/
}