@page "/AlphabetsChart"

<style>
	.container {
		margin-top: 15px;
		margin-bottom:15px;
	}
	.main {
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	}
	.Letter {
		margin: 30px 30px 30px 30px;
	}
</style>
<div class="container ">
	<div class="main row">
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/LetterA.png" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		
		

		
	</div>
	
</div>

@code {

}
