@page "/AlphabetsChart"

<style>
    .container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    .Letter {
        margin: 30px;
    }
</style>

<div class="container">
    <div class="main row">
        @foreach (var letter in Letters)
        {
            <div class="col-3">
                <a href="/English/@letter">
                    <img class="Letter" src="@($"/_content/First_step_For_little_mind.Shared/Image/English/a_z_Full_Images/{letter}.jpg")"
                         alt="@letter" height="100" width="100" />
                </a>
            </div>
        }
    </div>
</div>

@code {
    private List<string> Letters = Enumerable.Range(65, 26) 
        .Select(x => ((char)x).ToString())
        .ToList();
}

