@page "/AlphabetsChart"

<style>
	.container {
		margin-top: 15px;
		margin-bottom:15px;
	}
	.main {
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	}
	.Letter {
		margin: 30px 30px 30px 30px;
	}
</style>
<div class="container ">
	<div class="main row">
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/A.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/Test"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/B.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/C.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/D.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/E.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/F.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/G.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/H.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/I.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/J.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/K.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/L.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/M.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/N.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/O.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/P.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/Q.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/R.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/S.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/T.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/U.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/V.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/W.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/X.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/Y.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		<div class="col-2">
			<a href="/A"><img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/Z.jpg" alt="Alternate Text" height="100" width="100" /></a>
		</div>
		
		

		
	</div>
	
</div>

@code {

}
