@page "/alphabets"

<div id="carouselExample" class="carousel slide" >
    <div class="carousel-inner">
        <div class="carousel-item active  first">
            <div class="container main d-flex justify-content-center">
                <canvas id="myCanvas"></canvas>
                <audio id="Audio1">
                    <source src="_content/First_step_For_little_mind.Shared/voice/A.mp3" type="audio/mpeg">
                </audio>
                <audio id="Audio2" class="">
                    <source src="_content/First_step_For_little_mind.Shared/voice/aa.mp3" type="audio/mpeg">

                </audio>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span><img src="_content/First_step_For_little_mind.Shared/Image/BackgroundImages/button.png" height="100" width="100" alt="Alternate Text" /></span>
                </button>
            </div>
        </div>

        <div class="container  carousel-item second">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <canvas class="practiceBox" height="300" width="300"></canvas>
            <canvas class="practiceBox" height="300" width="300"></canvas>

        </div>
        <div class="carousel-item ru">
            <img src="image3.jpg" class="d-block w-100" alt="Image 3">
        </div>
    </div>
    
    @* <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"> *@
    @*     <span class="carousel-control-next-icon"></span> *@
    @* </button> *@
</div>
<script src="_content/First_step_For_little_mind.Shared/js/A.js"></script>


<script src="_content/First_step_For_little_mind.Shared/bootstrap/bootstrap.bundle.min.js"></script>







