@page "/English_Syallabus"


    <div class="infographic-container" >
        <div class="infographic-item" style="background-color:salmon;">
            <div class="tab" style="background-color: lightpink;">
            <img src="_content/First_step_For_little_mind.Shared/Image/English/bear.jpg" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Alphabets</p></a>
        </div>

        <div class="infographic-item" style="background-color:lightcyan;">
            <div class="tab" style="background-color: #00A3AD;">
            <img src="_content/First_step_For_little_mind.Shared/Image/English/rat.jpg" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/Test" class="stretched-link"><p>Vowel</p></a>
        </div>

        <div class="infographic-item" style="background-color:lightgreen";>
            <div class="tab" style="background-color: #007DC3;">
            <img src="_content/First_step_For_little_mind.Shared/Image/English/worm.jpg" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Consonant</p></a>
        </div>

        <div class="infographic-item" style="background-color:khaki;">
            <div class="tab" style="background-color: #E86A3A;">
            <img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/owl.jpg" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Two Letter Word</p></a>
        </div>

        <div class="infographic-item" style="background-color:lightyellow;">
            <div class="tab" style="background-color: #F25022;">
            <img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/owll.jpg" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Three Letter Word</p></a>
        </div>

        <div class="infographic-item" style="background-color:lightsalmon;">
            <div class="tab" style="background-color: #FFB900;">
            <img class="Letter" src="_content/First_step_For_little_mind.Shared/Image/English/A.png" alt="Alternate Text" height="100" width="100" />
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Four Letter Word</p></a>
        </div>
    </div>
    <div class="shutterstock">shutterstock.com 1613465254</div>


@code {

}
