@page "/English_Syallabus" 

<div class="container-fluid FSLM-BG">
    <div class="container mt-4 mb-4">
        <div class="row cardContainer mt-4 mb-4">
            <h1>ENGLISH</h1>
             <div class="container FSLM-menue">
                <a href="/AlphabetsChart"><h3>Alphabets</h3></a>
                <h3>Vowel</h3>  
                 <h3>Consonents</h3>  
                 <h3>Two Letter words</h3>  
                <h3>Three Letter Words</h3> 
            </div>
        </div>
    </div>
</div>