@page "/Syllabus/{Subject}"
@inject IJSRuntime JSRuntime
@using System.Collections.Generic



<div class="container-fluid FSLM-BG">
    <div class="container mt-4 mb-4">
        <div class="row cardContainer mt-4 mb-4">
            <h1>@Subject</h1>
            <div class="container FSLM-menue">
                @foreach (var item in GetSyllabusItems(Subject))
                {
                    if (item.Link != null)
                    {
                        <a href="@item.Link"><h3>@item.Name</h3></a>
                    }
                    else
                    {
                        <h3>@item.Name</h3>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Subject { get; set; }

    private List<SyllabusItem> GetSyllabusItems(string? subject)
    {
        var syllabus = new Dictionary<string, List<SyllabusItem>>
        {
            {
                "English (अंग्रेज़ी)", new List<SyllabusItem>
                {
                    new SyllabusItem("Alphabets", "/subjects/AlphabetsChart"),
                    new SyllabusItem("Vowel And Consonants", "/vowel-consonant"),
                    // new SyllabusItem("Consonants"),
                    new SyllabusItem("Two Letter Words"),
                    new SyllabusItem("Three Letter Words")
                }
            },
            {
                "Hindi( हिन्दी)", new List<SyllabusItem>
                {
                    new SyllabusItem("अ से  अः ", "/subjects/अ_से_अः"),
                    new SyllabusItem("क से ज्ञ ", "/subjects/क_से_ज्ञ"),
                    new SyllabusItem("बिना मात्रा वाले शब्द "),
                    new SyllabusItem("मात्रा"),
                    new SyllabusItem("मात्रा वाले शब्द "),
                    new SyllabusItem("स्वर"),
                    new SyllabusItem("व्यंजन")
                    
                }
            },
            {
                "Maths (गणित)", new List<SyllabusItem>
                {
                    new SyllabusItem("Numbers", "/subjects/Numbers"),
                    new SyllabusItem("Addition"),
                    new SyllabusItem("Subtraction")
                }
            },
            {
                "GK (सामान्य ज्ञान)", new List<SyllabusItem>
                {
                    new SyllabusItem("National Symbols"),
                    new SyllabusItem("Famous Personalities")
                }
            },
            {
                "Rhymes (कविता)", new List<SyllabusItem>
                {
                    new SyllabusItem("Twinkle Twinkle"),
                    new SyllabusItem("Johny Johny")
                }
            },
            {
                "Story (कहानी)", new List<SyllabusItem>
                {
                    new SyllabusItem("Panchatantra Stories"),
                    new SyllabusItem("Moral Stories")
                }
            }
        };

        return syllabus.ContainsKey(subject ?? "") ? syllabus[subject ?? ""] : new List<SyllabusItem>();
    }

    public class SyllabusItem
    {
        public string Name { get; set; }
        public string? Link { get; set; }

        public SyllabusItem(string name, string? link = null)
        {
            Name = name;
            Link = link;
        }
    }
}
