@page "/English Syallabus"


    <div class="infographic-container">
        <div class="infographic-item">
            <div class="tab" style="background-color: #56C567;">
                <span class="data-text">DATA</span>
                <span class="number">01</span>
            </div>
        <a href="/AlphabetsChart" class="stretched-link"><p>Alphabets</p></a>
        </div>

        <div class="infographic-item">
            <div class="tab" style="background-color: #00A3AD;">
                <span class="data-text">DATA</span>
                <span class="number">02</span>
            </div>
            <p>LOREM IPSUM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Sample text)</p>
        </div>

        <div class="infographic-item">
            <div class="tab" style="background-color: #007DC3;">
                <span class="data-text">DATA to replace ORIA</span>
                <span class="number">03</span>
            </div>
            <p>LOREM IPSUM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Sample text)</p>
        </div>

        <div class="infographic-item">
            <div class="tab" style="background-color: #E86A3A;">
                <span class="data-text">DATA</span>
                <span class="number">04</span>
            </div>
            <p>LOREM IPSUM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Sample text)</p>
        </div>

        <div class="infographic-item">
            <div class="tab" style="background-color: #F25022;">
                <span class="data-text">DATA to replace ORIA</span>
                <span class="number">05</span>
            </div>
            <p>LOREM IPSUM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Sample text)</p>
        </div>

        <div class="infographic-item">
            <div class="tab" style="background-color: #FFB900;">
                <span class="data-text">DATA</span>
                <span class="number">06</span>
            </div>
            <p>LOREM IPSUM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (Sample text)</p>
        </div>
    </div>
    <div class="shutterstock">shutterstock.com 1613465254</div>


@code {

}
