@page "/U"



<div id="carouselExample" class="carousel slide">
	<div class="carousel-inner">
		<div class="carousel-item active  first">
			<div class="container main d-flex justify-content-center">
				<canvas id="myCanvas"></canvas>
				<audio id="Audio1">
					<source src="_content/First_step_For_little_mind.Shared/voice/A.mp3" type="audio/mpeg">
				</audio>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span><img src="_content/First_step_For_little_mind.Shared/Image/BackgroundImages/button.png" height="100" width="100" alt="Alternate Text" /></span>
				</button>
			</div>
		</div>
		@* A related word *@
		<div class="carousel-item second">
			<div class="container check mt-4 mb-4">
				<div class="row cardContainer mt-4 mb-4">
					<div class="col-md-3">
						<div class="card card-hover shadow s1 mb-4" onmouseover="cardAudioPlay('audioAeroplane')"
							 onmouseout="cardpauseAudio('audioAeroplane')">
							<img src="_content/First_step_For_little_mind.Shared/Image/English/aeroplane.jpg" class="card-img-top" alt="English Image">
							<div class="card-body text-center">
								<h5 class="card-title">Aeroplane</h5>
							</div>
							<audio id="audioAeroplane">
								<source src="_content/First_step_For_little_mind.Shared/voice/aeroplane.mp3" type="audio/mpeg">
							</audio>
						</div>
					</div>

					<div class="card card-hover shadow s2 mb-4" onmouseover="cardAudioPlay('audioAlligator')"
						 onmouseout="cardpauseAudio('audioAlligator')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/alligator.jpeg" class="card-img-top" height="125" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Alligator</h5>
						</div>
						<audio id="audioAlligator">
							<source src="_content/First_step_For_little_mind.Shared/voice/alligator.mp3" type="audio/mpeg">
						</audio>
					</div>

					<div class="card card-hover shadow s3 mb-4" onmouseover="cardAudioPlay('audioAnt')"
						 onmouseout="cardpauseAudio('audioAnt')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/ant.gif" class="card-img-top" height="125" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Ant</h5>
						</div>
						<audio id="audioAnt">
							<source src="_content/First_step_For_little_mind.Shared/voice/ant.mp3" type="audio/mpeg">
						</audio>
					</div>

					<div class="card card-hover shadow s4 mb-4" onmouseover="cardAudioPlay('audioAmbulance')"
						 onmouseout="cardpauseAudio('audioAmbulance')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/ambulance.png" class="card-img-top" height="125" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Ambulance</h5>
						</div>
						<audio id="audioAmbulance">
							<source src="_content/First_step_For_little_mind.Shared/voice/ambulance.mp3" type="audio/mpeg">
						</audio>
					</div>
				</div>

				<div class="row cardContainer mt-4 mb-4">
					<div class="card card-hover shadow s5 mb-4" onmouseover="cardAudioPlay('audioAxe')"
						 onmouseout="cardpauseAudio('audioAxe')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/axe.jpeg" class="card-img-top" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Axe</h5>
						</div>
						<audio id="audioAxe">
							<source src="_content/First_step_For_little_mind.Shared/voice/axe.mp3" type="audio/mpeg">
						</audio>
					</div>

					<div class="card card-hover shadow s6 mb-4" onmouseover="cardAudioPlay('audioApe')"
						 onmouseout="cardpauseAudio('audioApe')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/ape.jpg" class="card-img-top" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Ape</h5>
						</div>
						<audio id="audioApe">
							<source src="_content/First_step_For_little_mind.Shared/voice/ape.mp3" type="audio/mpeg">
						</audio>
					</div>

					<div class="card card-hover shadow s7 mb-4" onmouseover="cardAudioPlay('audioAstronout')"
						 onmouseout="cardpauseAudio('audioAstronout')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/astronout.jpeg" class="card-img-top" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Aestronout</h5>
						</div>
						<audio id="audioAstronout">
							<source src="_content/First_step_For_little_mind.Shared/voice/astronout.mp3" type="audio/mpeg">
						</audio>
					</div>

					<div class="card card-hover shadow s8 mb-4" onmouseover="cardAudioPlay('audioArrow')"
						 onmouseout="cardpauseAudio('audioArrow')">
						<img src="_content/First_step_For_little_mind.Shared/Image/English/arrow.png" class="card-img-top" alt="English Image">
						<div class="card-body text-center">
							<h5 class="card-title">Arrow</h5>
						</div>
						<audio id="audioArrow">
							<source src="_content/First_step_For_little_mind.Shared/voice/arrow.mp3" type="audio/mpeg">
						</audio>
					</div>
				</div>
			</div>

			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span><img src="_content/First_step_For_little_mind.Shared/Image/BackgroundImages/button.png" height="100" width="100" alt="Alternate Text" /></span>
			</button>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" )">
				<span class="carousel-control-prev-icon"></span>
			</button>
		</div>
		@* practice page *@
		<div class=" carousel-item third">
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" )">
				<span class="carousel-control-prev-icon"></span>
			</button>
			<div class="container ">
				<canvas class="practiceBox" id="LetterTrace" height="300" width="300"></canvas>
				<canvas class="practiceBox" id="SelfPractice" height="300" width="300"></canvas>
				<audio id="audio">
					<source src="_content/First_step_For_little_mind.Shared/voice/aa.mp3" type="audio/mpeg">
				</audio>
			</div>
		</div>
	</div>
</div>
<script>
	window.addEventListener("load", function () {
		console.log("DOM is fully loaded");
		setTimeout(() => {
			learningAnimation("myCanvas", "A.png", "Apple.png");
		}, 500)
	});
</script>
<script src="_content/First_step_For_little_mind.Shared/js/A.js"></script>
<script src="_content/First_step_For_little_mind.Shared/bootstrap/bootstrap.bundle.min.js"></script>







