@page "/vowel-consonant"

<style>
	.FSLM-body {
		height: 100vh;
		width: 100%;
		background: url("_content/First_step_For_little_mind.Shared/Bg/BlackBoard.jpg") no-repeat;
		background-size: 100vw 100vh;
	}

	.row {
		/* border: 1px solid red; */
	}

	.Board {
		height: 32rem;
		width: 62rem;
		display: flex;
		justify-content: center;
		align-items: center;
		/* border: 1px solid red; */
	}

	button {
		border: none;
		margin: 10px;
	}

	.FSLM-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		color: white;
		font-size: 30px;
		font-weight: bold;
	}

	.pe-custom {
		padding-right: 7rem !important;
	}
</style>

<div class="container-fluid FSLM-body">
	<button class="play">
		<img src="_content/First_step_For_little_mind.Shared/Bg/play.png" alt="Play" height="50" />
	</button>
	<button class="pause">
		<img src="_content/First_step_For_little_mind.Shared/Bg/pause.png" alt="Pause" height="50" />
	</button>

	<!-- Audio element placed outside the loop -->
	<audio id="myAudio">
		<source src="_content/First_step_For_little_mind.Shared/voice/Vowels.mp3" type="audio/mp3" />
	</audio>

	<div class="container Board">
		<div class="row">
			@foreach (var letter in Letters)
			{
				<div class="@GetClass(letter)">
					<div>@letter</div>
				</div>
			}
		</div>
	</div>
</div>

<script>
	window.onload = function() {
		var audio = document.getElementById("myAudio");

		function playAudio() {
			audio.play();
			console.log("audio is playing");
		}

		function pauseAudio() {
			audio.pause();
			console.log("audio is paused");
		}

		document.querySelector(".play").addEventListener("click", playAudio);
		document.querySelector(".pause").addEventListener("click", pauseAudio);
	};
</script>

@code {
	private List<string> Letters = Enumerable.Range(65, 26)
			.Select(x => ((char)x).ToString())
			.ToList();

	private string GetClass(string letter)
	{
		if (letter == "Y")
			return "col-6 d-flex justify-content-end pe-custom FSLM-container";
		else
			return "col-3 FSLM-container";
	}
}
