.screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("Bg/BlackBoard.jpg") no-repeat;
    background-size: 100vw 100vh;
}

.Board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57rem;
    height: 22rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transition: all 1s ease;
    text-align: center;
}

.PlayAgain{
    background-color:grey;
    
}

.one {
    z-index: 3;
    flex-direction: column;
    background: url("Bg/GreenBoard.jpg") no-repeat center;
    background-size: 100vw 100vh;
}

.Two {
    background: url("Bg/VowelConsonent.png") no-repeat center;
    background-size: 74vw 59vh;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease;
}

.Three {
    background: url("Bg/GreenBoard.jpg") no-repeat center;
    background-size: 100vw 100vh;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
}

.visible {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

.hidden {
    opacity: 0 !important;
    transform: translate(-50%, -50%) scale(0) !important;
}

.alphabet-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 35rem;
    margin-top: 1rem;
}

.alphabet-grid span {
    width: 3rem;
    text-align: center;
}

.vowel-row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    justify-content: center;
}


