@code {
    [Parameter] public string? Letter { get; set; }
}

<style>
    .resize-div {
        background: url("@($"/_content/First_step_For_little_mind.Shared/Image/English/Letter/{Letter}.png")")no-repeat;
        background-size:100%;
        background-position:top;
    }
</style>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item main first active">
            <div class="resize-div" id="resizeDiv"></div>
            <div class="container FSLM-Word">
                <div class="card FSLM-RelatedWord box" id=" Words" >Apple</div>
                <div class="card box">Aeroplane</div>
                <div class="card box">Ant</div>
                <div class="card box">Alligator</div>
            </div>
        </div>
        <div class="carousel-item main second">
        </div>
    </div>

  

    <!-- Previous & Next Buttons -->
    @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"> *@
    @*     <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
    @*     <span class="visually-hidden">Previous</span> *@
    @* </button> *@
    @* <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"> *@
    @*     <span class="carousel-control-next-icon" aria-hidden="true"></span> *@
    @*     <span class="visually-hidden">Next</span> *@
    @* </button> *@
</div>
