
.main {
    height: 100vh;
    width: 100vw;
    background: url('Bg/skys.jpg') no-repeat top, url('Bg/grass.jpg') no-repeat bottom;
    background-size: 100vw 70vh, 100vw 30vh;
}

.card {
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 3px;

    transition: 0.3s;
    position: relative;
    opacity: 0;
    animation: enter 1s forwards;
    background-color: transparent !important;
    border:none;
}

.card img {

    height:100%;
}

.astronout-img {
    width: 45% !important;
}
.resize-div {
    margin: 5px auto;
    animation: increaseSize 3s ease-in-out forwards; 
}

@keyframes increaseSize {
    0% {
        width: 10px;
        height: 10px;
    }

    100% {
        width: 400px;
        height: 400px;
    }
}
.FSLM-Word {
    position: fixed;
    bottom:5px;
    left:3rem;
    width: 100vw;
/*    max-width: 800px;*/
    height: 15rem;
/*    border: 2px solid #000;*/
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
/*    padding: 15px;*/
}

.canvas {
 border:1px solid black;
 height:60%;
 width:40%;
}
.FSLM-Box {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap:6rem;

}

#Tracing {
    background-color:blue;
}

.red-div {
    width: 15rem;
    height: 14rem;
    background-size: 18vw 30vh;
    background-repeat: no-repeat;
    background-position: center;
/*    border: 1px solid red;*/
    color: white;
    font-size: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    transform: scale(0);
    transition: transform 2s ease;
    flex-shrink: 0;
    padding-bottom: 5px;
    text-shadow: 0 0 4px #000;
}

.red-div.show {
    transform: scale(1);
}

.container.FSLM-Word {
    display: flex;
    gap: 10px;
}

.container.FSLM-Word span {
    font-size: 20px;
    color:white ;
    text-align: center;
}