.practiceBox {
    border: 1px solid red;
    margin: 15px 15px 15px 15px;
}
.first {
   
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh;
    gap: 20px; 
    background-color: #f0f0f0;
    padding-right: 10rem;
}

#canvas1 {
/*    border: 1px solid black;*/
    height: 50vh;
    width: 30vw;
}

#canvas2 {
/*    border: 1px solid red;*/
    /* height: 50vh; */
    /* width: 30vw; */
}
.main {
    height: 100vh;
    width: 100vw;
    background:  url('Bg/skys.jpg')no-repeat top, url('Bg/grass.jpg')no-repeat bottom;
    background-size: 100vw 60vh, 100vw 40vh;

}


#myCanvas {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: block;
}

.check {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-top: 5px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
}

.card-hover:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card {
    height: 200px;
    width: 250.11px;
    background-size: cover;
    background-position: center;
}
