<body>
	<div class="container-fluid main">
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active  first">
					<div class="container checks">
						<canvas id="myCanvas"></canvas>
						 <audio id="Audio1">
							<source src="@($"/_content/First_step_For_little_mind.Shared/voice/{Letters}.mp3")" type="audio/mpeg">
						</audio> 
						@* <video width="600" height="400" controls> *@
						@* 	<source src="_content/First_step_For_little_mind.Shared/video/A.mp4" type="video/mp4"> *@
						@* </video> *@
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span><img src="_content/First_step_For_little_mind.Shared/Image/BackgroundImages/button.png" height="100" width="100" alt="Alternate Text" /></span>
						</button>
					</div>
				</div>
				@*  related word *@
				<div class="carousel-item second">
					
					@* <img src="_content/First_step_For_little_mind.Shared/Image/English/plane.gif" height="200" width="400" alt="Alternate Text" /> *@
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						 <span><img src="_content/First_step_For_little_mind.Shared/Image/BackgroundImages/button.png" height="100" width="100" alt="Alternate Text" /></span> 
					</button>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" )">
						<span class="carousel-control-prev-icon"></span>
					</button>
				</div>
				@* practice page *@
				<div class=" carousel-item third">
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" )">
						<span class="carousel-control-prev-icon"></span>
					</button>
					<div class="container ">
						<canvas class="practiceBox" id="LetterTrace" height="300" width="300"></canvas>
						<canvas class="practiceBox" id="SelfPractice" height="300" width="300"></canvas>
						<audio id="audio">
							<source src="_content/First_step_For_little_mind.Shared/voice/aa.mp3" type="audio/mpeg">
						</audio>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

@code {
	private List<string> Letters = Enumerable.Range(65, 26)
		.Select(x => ((char)x).ToString())
		.ToList();
}