
.container-fluid {
    background-color: rgb(214, 240, 252);
    /* border:1px solid red; */
}

.FSLM-container {
    display: flex;
    justify-content: center;
}

.main {
    height: 100%;
    width: 70vw;
}

.Letter {
    margin: 5px;
    height: 150px;
    width: 170px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

@media screen and (max-width: 375px) {
    .Letter {
        height: 40px;
        width: 40px;
    }

    .main {
        width: 95vw;
    }
}

@media screen and (max-width: 576px) {
    .Letter {
        height: 60px;
        width: 60px;
    }
}

.vyanjan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.vyanjan-item {
    width: calc(100% / 5 - 10px);
    text-align: center;
}


