@page "/subjects/{LearningChart}"


<div class="container-fluid FSLM-container">
    <div class="main row @(LearningChart == "क_से_ज्ञ" ? "vyanjan-container" : "")">
        @foreach (var item in SelectedList)
        {
            <div class="@GetClass(item)">
                <a href="/Letter/@item">
                    <img class="Letter" src="@GetImagePath(item)" alt="@item" />
                </a>
            </div>
        }
    </div>
</div>


@code {

    [Parameter] public string? LearningChart { get; set; }

    private string Title = "Learning Chart";

    private List<string> EnglishAlphabets = Enumerable.Range(65, 26)
        .Select(x => ((char)x).ToString())
        .ToList();

    private List<string> HindiSwar = new() { "a", "aa", "i", "ee", "u", "oo", "ri", "e", "ai", "o", "au", "an", "ah" };

    private List<string> HindiVyanjan = new()
    { "क", "ख", "ग", "घ", "ङ", "च", "छ", "ज", "झ", "ञ", "ट", "ठ", "ड", "ढ", "ण",
      "त", "थ", "द", "ध", "न", "प", "फ", "ब", "भ", "म", "य", "र", "ल", "व", "श", "ष", "स", "ह", "क्ष", "त्र", "ज्ञ"};

     private List<string> Matra = new() { "a", "aa", "i", "ee", "u", "oo", "ri", "e", "ai", "o", "au", "an", "ah" };

    private List<string> SelectedList = new();

    protected override void OnParametersSet()
    {
        SelectedList = LearningChart switch
        {
            "AlphabetsChart" => EnglishAlphabets,
            "अ_से_अः" => HindiSwar,
            "क_से_ज्ञ" => HindiVyanjan,
            "मात्रा" => Matra,
            _ => new List<string>()
        };

        // Set Title based on selection
        Title = LearningChart switch
        {
            "AlphabetsChart" => "English Alphabets",
            "अ_से_अः" => "Hindi Swar (स्वर)",
            "क_से_ज्ञ" => "Hindi Vyanjan (व्यंजन)",
            
            _ => "Learning Chart"
        };
    }

    private string GetClass(string item)
    {
        if (LearningChart == "क_से_ज्ञ")
            return "vyanjan-item";

        if (item == "Y") return "col-6 d-flex justify-content-sm-end";
        else if (item == "Z") return "col-6 d-flex justify-content-sm-start";
        else return "col-3 FSLM-container";
    }

    private string GetImagePath(string item)
    {
        string basePath = "/_content/First_step_For_little_mind.Shared/Image";

        return LearningChart switch
        {
            "AlphabetsChart" => $"{basePath}/English/a_z_Full_Images/{item}.jpg",
            "अ_से_अः" => $"{basePath}/Hindi/Swar/{item}.jpg",
            "क_से_ज्ञ" => $"{basePath}/Hindi/Vyanjan/{item}.jpg",
            "मात्रा" => $"{basePath}/Hindi/Matra/{item}.jpg",
            _ => ""
        };
    }
}
