.container-fluid {
    /* border: 1px solid red; */
    height: 90vh;
    width: 90vw;
}

.container {
    /* border: 1px solid green; */
    height: 90vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FSLM-WordImg {
    /* border: 1px solid yellow; */
    margin-bottom: 1rem;
}

.FSLM-Word {
    /* border: 1px solid black; */
    font-size: 2rem;
    padding: 1rem;
}
