
.ps-fill {
    margin-top: 30px;
}

.letter-box {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #aaa;
}

.static-letter {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
}

.container-fluid {
    padding: 2rem;
    margin: 2px;
    background-color:lightcyan;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

    .item img {
        width: 100px;
        height: 100px;
    }

canvas {
    /* border:1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.btn {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}


.question {
    margin-bottom: 20px;
}

.letters {
    display: flex;
    gap: 5px;
}

.letter-box {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.static-letter {
    font-weight: bold;
    font-size: 18px;
    padding: 9px;
    min-width: 40px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

    .submit-button:hover {
        background: #0056b3;
    }
.matching {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#columnB {
    padding-right: 15rem;
   
}


.question {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blank-space {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
